

.side_form {
  width: 500px;
  margin: 0 auto;
  overflow: hidden;
}

.side_form label {
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  width: 49% !important;
  display: inline-block;
  margin-right: 5px;
}

form.side_form input {
  width: 100%;
  display: block;
}

form.side_form input[type="button"] {
  width: 80px !important;
  margin: 20px auto;
}

div#page-content-wrapper {
  overflow-y: auto;
  max-height: calc(100vh - 111px);
  margin: 0 auto;
}

.filled_info {
  width: 500px;
  margin: 0 auto;
}
