<div id="wrapper" class="">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        Demo
                    </a>
                </li>
                <li>
                    <a href="#">Dashboard</a>
                </li>
                <li>
                    <a href="#">Shortcuts</a>
                </li>
                <li>
                    <a href="#">Overview</a>
                </li>
                <li>
                    <a href="#">Events</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Services</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Contact Us</h1>

                   <form>
                            <label for="name">Full Name : </label><br>
                            <input type="text" name="name" id="name" placeholder="Full Name" ><br>
                            <label for="Email">Email : </label><br>
                            <input type="text" name="Email"  id="Email" placeholder="Email"><br>
                            <label for="age">Age : </label><br>
                            <input type="text" name="age" id="age"  placeholder="Age"><br>
                            <label for="number">Contact No : </label><br>
                            <input type="text" name="number" id="number" placeholder="Contact No"><br>
                            <input type="button" name="Submit" value="Submit">
                       
                    </form>
                    </div>
                </div>
            </div>

            <p bolder>Directive</p>

        </div>
        <!-- /#page-content-wrapper -->
   
    </div>
    <!-- /#wrapper -->
     <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");



    });

    </script>
                            
 
